<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.title}}</title>



<style type="text/css">
  a:hover { color: #07768b !important; text-decoration: none !important;}
  a.btn:hover { color: #fff !important; }
</style>

</head><body><div style="background-color: #fff; padding: 15px 0;">
  <div style="max-width: 500px; margin: 0 auto; padding: 40px; border-width: 1px; border-style: solid; border-color: #b8bbc6">

    <p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4em; font-size: 14px; color: #07768b; font-weight: 600; margin: 0 0 20px;">Please enter a new password that's at least 8 characters long</h2>

    <form id="pwResetForm" name="passwordReset" action="{{.URL}}" method="post" onsubmit="return validateInput()">
    <input type="hidden" name="email" value="{{.email}}">
    <input type="hidden" name="token" value="{{.token}}">
    <input type="hidden" name="redirect" value="{{.redirect}}">    
    <input type="password" name="newPassword" placeholder="New Password" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4em; font-size: 14px; color: #7f8498; margin: 0 0 20px">
    <br>
    <input type="password" name="newPassword2" placeholder="Confirm New Password" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4em; font-size: 14px; color: #7f8498; margin: 0 0 20px">
    <br>
    <input type="submit">
    </form>
  </div>

  <script>
    function validateInput(){
      var f = document.forms.passwordReset;
      if (f.newPassword.value !== f.newPassword2.value) {
        alert("Passwords do not match");
        return false;
      } else if (f.newPassword.length < 8) {
        alert("Password too short");
        return false;
      }
      f.newPassword2.name = "newPassword";
      return true;
    }
  </script>
</body></html>
