<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.title}}</title>

<style type="text/css">
  a:hover { color: #07768b !important; text-decoration: none !important;}
  a.btn:hover { color: #fff !important; }
</style>

</head><body><div style="background-color: #fff; padding: 15px 0;">
  <div style="max-width: 500px; margin: 0 auto; padding: 40px; border-width: 1px; border-style: solid; border-color: #b8bbc6">

    <p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4em; font-size: 14px; color: #07768b; font-weight: 600; margin: 0 0 20px;">Hi!,</h2>

    <p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4em; font-size: 14px; color: #7f8498; margin: 0 0 20px">Click here to verify your e-mail address:</p>

    <a class="btn" href="{{.URL}}" style="text-decoration: none; width: 160px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.4em; font-size: 14px; background-color: #07768b; color: #fff; text-align: center; border-radius: 10px; border-style: none; padding: 10px 20px; margin: 20px auto; display: block; cursor: pointer;">Verify e-mail</a>
  </div>
</body></html>
