swagger: "2.0"
info:
  title: "ZenAuth"
  description:
    This is a generic microservice to handle user authentication through a
    RESTful API.
  version: "1.0.0"
  contact:
    email: "dev@axiomzen.co"
host: "zenauth.axiomzen.co"
basePath: "/v1"
schemes:
- "https"
paths:
  /ping:
    get:
      summary: "health check for the API"
      responses:
        200:
          description: "API is up and running"


  /users/signup:
    post:
      summary: "signs up a new user"
      parameters:
      - in: "body"
        name: "body"
        description: "request body"
        required: true
        schema:
          $ref: "#/definitions/Signup"
      responses:
        201:
          description: "User signed up"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Some input data is invalid"
      security:
      - api_token: []

  /users/login:
    post:
      summary: "Logs in a user"
      parameters:
      - in: "body"
        name: "body"
        description: "request body"
        required: true
        schema:
          $ref: "#/definitions/Login"
      responses:
        200:
          description: "User logged in"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Some input data is invalid"
        401:
          description: "Wrong email or password"
      security:
      - api_token: []

  /users/exists:
    get:
      summary: "Checks if a user exists."
      parameters:
      - in: "query"
        name: "email"
        description: "user e-mail"
        required: true
        type: string
      responses:
        200:
          description: "Exists status"
          schema:
            $ref: "#/definitions/Exists"
        400:
          description: "Some request body data is invalid"
      security:
      - api_token: []


  /users/forgot_password:
    put:
      summary: "Indicates a user has forgotten the password. This action will send an e-mail to continue with the reset process."
      parameters:
      - in: "query"
        name: "email"
        description: "user e-mail"
        required: true
        type: string
      responses:
        204:
          description: "Email sent"
        400:
          description: "Some request body data is invalid"
      security:
      - api_token: []

  /users/reset_password:
    post:
      summary: "using a reset password token, resets the user password to a new one"
      parameters:
      - in: "body"
        name: "body"
        description: "request body"
        required: true
        schema:
          $ref: "#/definitions/ResetPassword"
      responses:
        200:
          description: "Password changed"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Some request body data is invalid"
      security:
      - api_token: []

  /users/verify_email:
    put:
      summary: "verifies a user"
      parameters:
      - in: "query"
        name: "token"
        description: "verification token"
        required: true
        type: string
      - in: "query"
        name: "email"
        description: "user e-mail"
        required: true
        type: string
      responses:
        200:
          description: "User verified"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Some input data is invalid"
      security:
      - api_token: []

  /users:
    get:
      summary: "Gets the current user information"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/User"
      security:
      - api_token: []
      - auth_token: []

  /users/{id}:
    get:
      summary: "Gets the information of a user"
      parameters:
      - in: "path"
        name: "id"
        description: "User ID"
        required: true
        type: string
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/UserPublic"
      security:
      - api_token: []
      - auth_token: []

  /users/password:
    put:
      summary: "Updates a user's password"
      parameters:
      - in: "body"
        name: "body"
        description: "request body"
        required: true
        schema:
          $ref: "#/definitions/ChangePassword"
      responses:
        200:
          description: "Password changed"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Some input data is invalid"
      security:
      - api_token: []
      - auth_token: []

  /users/email:
    put:
      summary: "Updates a user's email"
      parameters:
      - in: "body"
        name: "body"
        description: "request body"
        required: true
        schema:
          $ref: "#/definitions/ChangeEmail"
      responses:
        200:
          description: "Email changed"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Some input data is invalid"
      security:
      - api_token: []
      - auth_token: []

  /users/invite:
    post:
      summary: "Invites a list of users by e-mail."
      parameters:
      - in: "body"
        name: "body"
        description: "request body"
        required: true
        schema:
          $ref: "#/definitions/InvitationRequest"
      responses:
        201:
          description: "Users invited"
          schema:
            $ref: "#/definitions/InvitationResponse"
        400:
          description: "Some request body data is invalid"
      security:
      - api_token: []
      - auth_token: []

securityDefinitions:
  api_token:
    type: "apiKey"
    name: "x-api-token"
    in: "header"
    description: "The application API token."
  auth_token:
    type: "apiKey"
    name: "x-authentication-token"
    in: "header"
    description: "User's API token. Use login endpoint to get one."
definitions:
  User:
    type: "object"
    properties:
      id:
        type: "string"
        description: "The user ID"
        example: "5c8e03d8-516a-47fa-8840-69fb6d62c0b7"
      email:
        type: "string"
        description: "The user e-mail"
        example: "user@email.com"
      status:
        type: "string"
        description: "The user status"
        example: "created"
        enum: [
          "invited",
          "created"
        ]
      authToken:
        type: "string"
        description: "The user authentication token"
        example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Mjc2OTY3OTcsImlhdCI6MTQ5NjE2MDc5NywianRpIjoiYTkyZWRiMTktNjdlYy00YzZiLWE0YzEtNzU4Mjc4NWVmZjMyIiwidXNlcmlkIjoiNWM4ZTAzZDgtNTE2YS00N2ZhLTg4NDAtNjlmYjZkNjJjMGI3In0.JaaV4u_foQXehyIh0X6wpU6WVFL9jd95gMEjt2mVfhw"
      createdAt:
        type: "string"
        description: "Date when the user was created"
        example: "2017-05-30T16:07:38.683938Z"
      updatedAt:
        type: "string"
        description: "Date when the user was updated"
        example: "2017-05-30T16:07:38.683938Z"
      verified:
        type: "boolean"
        description: "Whether or not the user has validated the e-mail"
        example: false
  UserPublic:
    type: "object"
    properties:
      id:
        type: "string"
        description: "The user ID"
        example: "5c8e03d8-516a-47fa-8840-69fb6d62c0b7"
      email:
        type: "string"
        description: "The user e-mail"
        example: "user@email.com"
      status:
        type: "string"
        description: "The user status"
        example: "created"
        enum: [
          "invited",
          "created"
        ]
  ResetPassword:
    type: "object"
    properties:
      email:
        type: "string"
        description: "The user e-mail"
        example: "user@email.com"
      newPassword:
        type: "string"
        description: "The desired new password"
        example: "asdasdasd"
      token:
        type: "string"
        description: "The reset password token"
        example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1Mjc2OTY3OTcsImlhdCI6MTQ5NjE2MDc5NywianRpIjoiYTkyZWRiMTktNjdlYy00YzZiLWE0YzEtNzU4Mjc4NWVmZjMyIiwidXNlcmlkIjoiNWM4ZTAzZDgtNTE2YS00N2ZhLTg4NDAtNjlmYjZkNjJjMGI3In0.JaaV4u_foQXehyIh0X6wpU6WVFL9jd95gMEjt2mVfhw"
  Signup:
    type: "object"
    properties:
      email:
        type: "string"
        description: "The user e-mail"
        example: "user@email.com"
      password:
        type: "string"
        description: "The desired new password"
        example: "asdasdasd"
  Login:
    type: "object"
    properties:
      email:
        type: "string"
        description: "The user e-mail"
        example: "user@email.com"
      password:
        type: "string"
        description: "The user password"
        example: "asdasdasd"
  Exists:
    type: "object"
    properties:
      exists:
        type: "boolean"
        description: "whether the user exists"
        example: "true"
  ChangePassword:
    type: "object"
    properties:
      id:
        type: "boolean"
        description: "The user ID"
        example: "5c8e03d8-516a-47fa-8840-69fb6d62c0b7"
      oldPassword:
        type: "string"
        description: "The current password"
        example: "asdasdasd"
      newPassword:
        type: "string"
        description: "The new password"
        example: "asdasdasd"
  ChangeEmail:
    type: "object"
    properties:
      id:
        type: "boolean"
        description: "The user ID"
        example: "5c8e03d8-516a-47fa-8840-69fb6d62c0b7"
      email:
        type: "string"
        description: "The new email"
        example: "user@email.com"
  InvitationRequest:
    type: "object"
    properties:
      emails:
        type: "array"
        description: "The users email"
        items: {
          type: "string"
        }
        example: ['user1@email.com', 'user@email.com']

  InvitationResponse:
    type: "object"
    properties:
      users:
        type: "array"
        description: "The list of users"
        items: {
          "$ref": "#/definitions/UserPublic"
        }
